@use "base/mixins" as m;
@use "base/variables" as v;

.caja-contenedor-formulario {
    display: flex;
    justify-content: center;
    margin: 5rem 2rem 10rem 2rem;
    @include m.tablet {
        margin: 5rem 3rem 10rem 3rem;
    }

    .contenedor-formulario {
        max-width: 100rem;
        width: 80rem;

        &--login, &--olvide {
            width: 60rem;
        }
    }

    .formulario {
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.253);
        
        @include m.tablet {
            padding: 3rem;
        }
    }

    .campo-contenedor {
        margin-bottom: .5rem;
        @include m.tablet {
            margin-bottom: 1.5rem;
        }
    }

    .campo_contenedor-arriba {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        @include m.tablet {
            align-items: center;
        }

        .campo-orden {
            margin-right: 1rem;
            font-weight: bold;
            color: v.$naranja;
            margin-top: 1.8rem;
            margin-bottom: 0;
            font-size: 1.6rem;
            @include m.tablet {
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
        }

        .campo-titulo {
            margin-bottom: 0;
            font-size: 1.6rem;
            @include m.tablet {
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
        }
    }

    .campo_contenedor-abajo {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .campo {
            width: 100%;
            position: relative;
    
            &:hover,
            &:focus-within {
                input,
                textarea,
                select {
                    transition: all .3s ease;
                    border-color: lighten(v.$naranja, 30);
                }
            }

            input {
                width: 100%;
                border: .2rem solid rgb(230, 226, 226);
                border-radius: .5rem;
                padding: 1rem;
                font-size: 1.4rem;
                background: v.$blanco;

                &:focus {
                    border: 2px solid v.$naranja;
                    outline: none;
                }

                @include m.tablet {
                    padding: 1.3rem;
                    font-size: 1.6rem;
                }

                
            }
            .input-desactivado {
                opacity: 0.3;
                cursor: not-allowed;
            }
            .input-contrato {
                &:hover, 
                &:focus-within {
                    transition: none;
                    border: 0.2rem solid rgb(230, 226, 226);
                    cursor: pointer;
                }
            }

            select {
                width: 100%;
                border: .2rem solid rgb(230, 226, 226);
                border-radius: .5rem;
                padding: 1rem;
                font-size: 1.4rem;
                background: v.$blanco;
                cursor: pointer;

                appearance: none; /* Oculta la flecha predeterminada en navegadores WebKit (Chrome, Safari) */
                background-image: url('/build/img/flecha-select.svg'); /* Agrega tu propia imagen de flecha */
                background-size: 1.5rem; /* Ajusta el tamaño de la imagen de la flecha */
                background-repeat: no-repeat;
                background-position: right 1.5rem center;

                @include m.tablet {
                    padding: 1.3rem;
                    font-size: 1.6rem;
                }

                &:focus {
                    border: 2px solid v.$naranja;
                    outline: none;
                }
            }

            .input-email {
                padding-left: 4rem;  // Deja espacio para el ícono
                background: url('/build/img/mail-svg.svg') no-repeat 1rem center;
                background-color: v.$blanco;
                background-size: 1.6rem; 
                @include m.tablet {
                    background-size: 2rem;
                }
            }

            .input-telefono {
                padding-left: 4rem;  // Deja espacio para el ícono
                background: url('/build/img/telefono-svg.svg') no-repeat 1rem center;
                background-color: v.$blanco;
                background-size: 1.6rem; 
                @include m.tablet {
                    background-size: 2rem;
                }
            }

            .input-password {
                padding-left: 4rem;  // Deja espacio para el ícono
                background: url('/build/img/password.svg') no-repeat 0.7rem center;
                background-color: v.$blanco;
                background-size: 2rem; 
                @include m.tablet {
                    background-size: 2.7rem;
                }
            }

            textarea {
                width: 100%;
                border: .2rem solid rgb(230, 226, 226);
                border-radius: .5rem;
                padding: 1.3rem;
                font-size: 1.6rem;
                resize: none;
                background: v.$blanco;

                &:focus {
                    border: 2px solid v.$naranja;
                    outline: none;
                }
            }
            
        }
    }
  
    .campo_contenedor-nombre {
        @include m.tablet {
            flex-direction: row;
        }
    }

    .contenedor-boton {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;

        .boton {
            @include m.boton2(v.$naranja);

            &--login {
                width: 100%;
            }
        }
    }


}

.contrato--actual-contenedor {
    margin: 2rem 0 3rem 0;
}

.contrato--actual {
    color: lighten(v.$principal, 15);
    transition: all .3s ease;
    &:hover {
        color: lighten(v.$principal, 0);
    }
}
