@use 'base/mixins' as m;
@use 'base/variables' as v;

header {
    position: fixed;
    height: 8rem;
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: .1rem solid rgba(0, 0, 0, 0.158);
    z-index: 100;
    @include m.tabletXL {
        justify-content: space-around;
    }
}

.logo {
    height: 3.5rem;
    max-height: 7vw;
    margin-left: 2rem;
}

.lista_nav {
    list-style: none;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.lista_nav hr {
    width: 50%;
    margin: 0 auto;
}

.navegacion_principal a {
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    padding: 2rem;
    display: block;
    border-radius: 1rem;
}

.contenedor_logo {
    display: flex;
    align-items: center;
}

.menubarra {
    font-size: 3rem;
    color: lighten(v.$principal, 10);
}

.abrir_menu {
    border: 0;
    background: transparent;
    color: rgb(148, 148, 148);
    cursor: pointer;
    position: fixed;
    right: 3rem;
    z-index: 10;

    @include m.tabletXL {
        display: none;
    }
}

.abrir_menu:hover span {
    color: #727272;
}

.lista_nav a:hover {
    background-color: #1c666e;
}

.caja_nav-desktop { 
    display: none;

    @include m.tabletXL {
        display: flex;
        flex-direction: flex-end;
    }

    .navegacion_principal-desktop {
        display: flex;
        align-items: center;
        justify-content: center;

        .lista_nav-desktop {
            display: flex;
            padding: 0;
            li {
                @include m.reset-lista;
                    margin-right: 4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                
                a {
                    color: lighten(v.$principal, 20);
                    &:hover {
                        color: lighten(v.$principal, 40);
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1.5px;
                        background: lighten(v.$principal, 20);
                        transition: width .5s;
                    }
                    &:hover::after {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.caja_nav {
    margin: 2rem 0 5rem auto;
    text-align: center;
    background-color: #268893;
    width: 15rem;
    position: fixed;
    right: -100%;
    top: 7rem;
    transition: all 0.25s ease-in;
    border-radius: 1rem;
    z-index: 10;

    @include m.tabletXL {
        display: none;
    }
}

.caja_nav.activo {
    right: 3rem;
}

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  margin-right: 7rem;

  @include m.tabletXL {
    margin-right: 0;
    width: auto;
  }

  .language-option {
    transition: color 0.3s;
    font-size: 1.5rem;
    font-weight: bold;
    color: v.$naranja;
  }

  .toggle-button {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ddd;
    border-radius: 15px;
    margin: 0 1rem;

    .circle {
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translate(0, -50%);
      width: 14px;
      height: 14px;
      background-color: v.$naranja;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }

}

.language-toggle.active .toggle-button .circle {
  transform: translate(100%, -50%);
}