// Fuentes
$fuente-principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tabletXL: 855px;
$desktop: 1024px;
$desktopXL: 1200px;

// Colores
$principal: #1c626e;
$secundario: #00c8c2;
$principal-claro: #0e8bb1;
$naranja: rgb(216, 141, 2);

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900