@use 'base/variables' as v;
@use 'base/mixins' as m;

.contacto {
    margin-top: 8rem;
    background-color: #F1F3F9;

    .alerta-correcto {
        margin: 2rem 0;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        background-color: lighten(v.$verde, 60%);
        border-left: .5rem solid v.$verde;
        color: v.$verde;
    }

    .caja_contacto {
        @include m.header-paginas(contacto);
    }

    .caja_boton_consulta {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        
        .boton_consulta {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;
    
            @include m.tablet {
                font-size: 1.6rem;
            }    
        }
    } 

    .midseccion {
        margin: 8rem 0 5rem 0;
        padding: 5rem 1rem;
        background-color: lighten(v.$naranja, 30);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(179, 179, 179, 0.37);
        border-bottom: 1px solid rgba(179, 179, 179, 0.37);
        text-align: center;
        

        h2 {
            margin: 0;
            @include m.texto-fluido(2rem, 5rem);
            font-size: 3rem;
        }

        p {
            
            padding: 0 5rem;
            color: rgb(95, 95, 95);
            font-size: 1.3rem;
        }
    }
}