@use 'base/variables' as v;
@use 'base/mixins' as m;

.nosotros {

    margin-top: 8rem;
    background-color: #F1F3F9;

    .caja_nosotros {
        @include m.header-paginas(nosotros);
    }

    .caja_boton_consulta {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        
        .boton_consulta {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;
    
            @include m.tablet {
                font-size: 1.6rem;
            }    
        }
    }

    .midseccion {
        margin: 3rem;

        .caja_titulo {
            margin: 6rem 3rem;

            h2 {
                color: #123c49;
            }
    
            p {
                color: #123c49;
            }
        }

        .nosotros1 {
            padding: 3rem;
            margin: 5rem 1rem;
            border-radius: 1rem;
            background: linear-gradient(to right, #102c35, #184b5c);
            
            h3 {
                color: #49b7d8;
            }

            p {
                color: white;
                font-size: 1.4rem;
            }
        }
    }

    .nosotros2 {
        margin: 3rem;

        h3 {
            font-size: 2rem;
            text-align: center;
        }
    }

    .nosotros3 {
        margin: 3rem;

        .valores {
            padding: 3rem;
            margin: 5rem 1rem 2rem 1rem;
            border-radius: 1rem;
            background: linear-gradient(to right, #805300, #be810e);

            h3 {
                color: #ffd27e;
            }

            p {
                color: white;
            }
        }

        .objetivos {
            padding: 3rem;
            margin: 2rem 1rem 5rem 1rem;
            border-radius: 1rem;
            background: linear-gradient(to right, #805300, #be810e);

            h3 {
                color: #ffd27e;
            }

            p {
                color: white;
            }
        }
    }

    .nosotros4 {
        margin: 6rem;

        h3 {
            color: #123c49;
        }

        p {
            color: #123c49;
        }
    }
}