@use 'base/variables' as v;
@use 'base/mixins' as m;


.portafolio {
    margin-top: 8rem;
    background-color: #F1F3F9;

    .caja_portafolio {
        @include m.header-paginas(portafolio);
    }

    .caja_boton_consulta {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        
        .boton_consulta {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;
    
            @include m.tablet {
                font-size: 1.6rem;
            }    
        }
    }

    .midseccion {
        margin: 3rem;

        .portafolio_padre {
            margin: 6rem 0;

            h3 {
                color: #123c49;
            }
    
            p {
                color: #123c49;
            }

            .caja_imagen_portafolio {
                display: flex;
                justify-content: center;

                img {
                    width: 50rem;
                    max-width: 100%;
                }
            }

            .divisor {
                height: 2px;
                background-color: black;
                border: none;
                width: 90%;
            }
        }

        .portafolio1 {
            margin-bottom: 4rem;
        }

        .portafolio2 {
            margin: 4rem 0;
        }

        .portafolio3 {
            margin: 4rem 0;
        }

        .portafolio3 {
            margin: 4rem 0;
        }
    }

    .seccion_baja {
        padding: 4rem 3rem 6rem 3rem;
        background-color: #123c49;

        h3 {
            color: #49b7d8;
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
            color: white;
        }

        .caja_check {
            margin: 0 1rem;

            .check {
                display: flex;
                align-items: center;
    
                img {
                    width: 2rem;
                    margin-right: 1rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}