@use 'base/variables' as v;
@use 'base/mixins' as m;

.scrivena {
    margin-top: 8rem;
    
    .caja_superior {
        margin: 4rem 4rem;
    
        h1 {
            color: #123c49;
            font-size: 3.4rem;
            text-align: center;
    
            @include m.tablet {
                font-size: 4rem;
            }
    
            @include m.desktop {
                font-size: 5rem;
            }
        }
    
        p {
            font-size: 1.5rem;
            text-align: center;
    
            @include m.tablet {
                font-size: 1.7rem;
            }
        }
    }
    
    .caja_boton_consulta {
        display: flex;
        justify-content: center;

        .boton_consulta {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;
    
            @include m.tablet {
                font-size: 1.6rem;
            }    
        }
    }
    
    .caja_section {
        background-color: #F1F3F9;
        border-radius: 1rem;
        padding: 0 1rem 2rem 1rem;
        box-shadow: 0px 0px 20px rgb(207, 207, 207);
        margin: 0 2rem;
    }
    
    .carrusel {
        display: flex;
        overflow: hidden;
        width: 100%; /* Asume que quieres que el carrusel tenga el ancho de la pantalla */
        position: relative;
        touch-action: pan-y pinch-zoom;
        margin-top: 4rem;
    }
    
    .elemento {
        flex: 0 0 100%;
        max-width: 100%;
        user-select: none;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #123c49;
        padding: 0 2rem;
    }
    
    .texto_elemento {
        font-size: 1.7rem;
    }
    
    /* Estilos para los puntos de navegación */
    .img-carrusel {
        width: 100%;
        max-height: 50rem;
    }
    
    .carrusel-nav {
        text-align: center;
    }
    
    .criptomonedas {
        margin: 3rem 0;
    }
    
    .nav-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .nav-dot.active {
        background-color: #333;
    }
    
    /* Estilos opcionales para mejorar la interacción táctil */
    .grabbing {
        cursor: grabbing;
    }
    
    .oportunidades {
        background-color: #F1F3F9;
        margin: 3rem 0 0 0;
        padding: 2rem 2rem 5rem 2rem;
        text-align: center;
        color: #123c49;
    }
    
    .texto_oportunidades {
        width: 80%;
        margin: 0 auto 6rem auto;
    }
    
    .oportunidades img {
        height: 12rem;
    }
    
    .img_p {
        padding: 0 3rem;
        margin: 0 auto;
    
        @include m.desktop {
            @include m.contenedor;
            @include m.grid(7,1rem)
        }
    }
    
    .flecha {
        margin: 3rem 0;
        
        @include m.desktop {
            margin: 6rem 0;
        }
    }
    
    .flecha img{
        height: 3rem;
        @include m.desktop {
            transform: rotate(-90deg);
        }
    }
    
    .nuestros_servicios {
        padding: 3rem;
        margin: 5rem 1rem;
        @include m.shadow;
        border-radius: 1rem;
        background: linear-gradient(to right, #102c35, #184b5c); 
    }
    
    .titulo_servicios {
        color: white;
        text-align: center;
        margin-bottom: 5rem;
        font-size: 1.4rem;
    
        @include m.tablet {
            font-size: 1.6rem;
        }
    
        h3 {
            font-size: 3rem;
            color: #49b7d8;
            @include m.tablet {
                font-size: 4rem;
            }
        }
    }
    
    .subtitulo_servicios {
        color: white;
        text-align: left;
        font-size: 1.4rem;
    
        @include m.tablet {
            font-size: 1.6rem;
        }
    
        h3 {
            font-size: 2.5rem;
            color: #49b7d8;
            @include m.tablet {
                font-size: 3rem;
            }
        }
    }
    
    .caja_boton_servicios {
        display: flex;
        justify-content: start;
        margin: 3rem 0;
    
        .boton_servicios {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;

            @include m.tablet {
                font-size: 1.6rem;
            }
        }
        
    }
    
    .boton_consulta:hover {
        background-color: #3694a5;
    }
    
    .contenedor--porque_scrivena {
        margin: 4rem;
        @include m.grid(1, 2rem);

        @include m.tablet {
            @include m.grid(4, 4rem);
        }
    }

    .porque_scrivena {

        img {
            height: 8rem;
        }
    }

    .contenedor-simulador {
        margin: 5rem 0;
    }
    
    .titulo_simulador {
        color: #123c49;
        text-align: center;
        margin-bottom: 0;
        margin-top: 8rem;
    }
    
    .contenedor--area-cliente {
        margin-top: 8rem;

        .area_cliente {
            margin: 0 3rem;
        
            p {
                font-size: 1.6rem;
            }
        }
        
        .caja_micuenta img {
            height: 40rem;
        }
        
        .registro {
            margin: 0 8rem;
        
            h3 {
                font-size: 2.3rem;
            }
        }
        
        .caja_boton_registro {
            display: flex;
            justify-content: center;
    
            .boton_registro { 
                @include m.boton2(v.$naranja);
            }
        }
    }

    
    
    
}