@use 'base/variables' as v;
@use 'base/mixins' as m;

.scrivena {
    margin-top: 8rem;

    .imagen-inicio {
        padding: 4rem 2rem;
        background: linear-gradient(180deg, rgba(0, 19, 46, 0.6) 0%, rgba(0, 19, 46, 0.6) 100%),
        image-set(
            url('/build/img/inicio-header1.avif') type('image/avif'),
            url('/build/img/inicio-header1.webp') type('image/webp'),
            url('/build/img/inicio-header1.jpg') type('image/jpeg')
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            font-size: 4rem;
            padding: 6rem 2rem;
        }

        @include m.desktop {
            font-size: 7rem;
            padding: 10rem 0;
        }
    }
    
    .caja_superior {

        h1 {
            margin: 0;
            color: v.$blanco;
            font-size: 3.4rem;
            text-align: center;
    
            @include m.tablet {
                font-size: 4rem;
            }
    
            @include m.desktop {
                font-size: 6rem;
            }
        }
    
        p {
            font-size: 1.5rem;
            text-align: center;
            color: v.$blanco;
    
            @include m.tablet {
                font-size: 1.7rem;
            }
        }
    }
    
    .caja_boton_consulta {
        display: flex;
        justify-content: center;

        .boton_consulta {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;
    
            @include m.tablet {
                font-size: 1.6rem;
            }    
        }
    }
    
    .caja_section {
        border-radius: 1rem;
        padding: 0 1rem 2rem 1rem;
        box-shadow: 0px 0px 20px rgb(120, 120, 120);
        margin: 0 2rem;
        backdrop-filter: blur(20px);
        @include m.tablet {
            @include m.contenedor-sm;
        }
    }
    
    .carrusel {
        display: flex;
        overflow: hidden;
        width: 100%; /* Asume que quieres que el carrusel tenga el ancho de la pantalla */
        position: relative;
        touch-action: pan-y pinch-zoom;
        margin-top: 4rem;
    }
    
    .elemento {
        flex: 0 0 100%;
        max-width: 100%;
        user-select: none;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 2rem 0 2rem;
    }
    
    .titulo_elemento {
        color: v.$blanco;
    }

    .texto_elemento {
        font-size: 1.7rem;
        color: v.$blanco;
    }
    
    /* Estilos para los puntos de navegación */
    .img-carrusel {
        width: 100%;
        max-height: 30rem;
    }
    
    .carrusel-nav {
        text-align: center;
    }
    
    .nav-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .nav-dot.active {
        background-color: v.$naranja;
    }
    
    /* Estilos opcionales para mejorar la interacción táctil */
    .grabbing {
        cursor: grabbing;
    }
    
    .contenedor-oportunidades {
        background-color: #F1F3F9;
    }

    .oportunidades {
        padding: 2rem 2rem 5rem 2rem;
        text-align: center;
        color: #123c49;
        font-size: 1.4rem;

        @include m.tablet {
            font-size: 1.6rem;
        }
        
        @include m.tablet {
            @include m.contenedor;
        }
    }
    
    .texto_oportunidades {
        width: 80%;
        margin: 0 auto 6rem auto;
    }
    
    .oportunidades img {
        height: 12rem;
    }
    
    .img_p {
        padding: 0 3rem;
        margin: 0 auto;
    
        @include m.desktop {
            @include m.contenedor;
            @include m.grid(7,1rem)
        }
    }
    
    .flecha {
        margin: 3rem 0;
        
        @include m.desktop {
            margin: 6rem 0;
        }
    }
    
    .flecha img{
        height: 3rem;
        @include m.desktop {
            transform: rotate(-90deg);
        }
    }
    
    .nuestros_servicios {
        padding: 3rem;
        margin: 5rem 1rem;
        @include m.shadow;
        border-radius: 1rem;
        background: linear-gradient(to right, #102c35, #184b5c);

        @include m.desktop {
            padding: 3rem 10rem;
            margin: 5rem 8rem;
        }
    }
    
    .titulo_servicios {
        color: white;
        text-align: center;
        margin-bottom: 5rem;
        font-size: 1.4rem;
    
        @include m.tablet {
            font-size: 1.6rem;
        }
    
        h3 {
            font-size: 3rem;
            color: #49b7d8;
            @include m.tablet {
                font-size: 4rem;
            }
        }
    }
    
    .subtitulo_servicios {
        color: white;
        text-align: left;
        font-size: 1.4rem;
    
        @include m.tablet {
            font-size: 1.6rem;
        }
    
        h3 {
            font-size: 2.5rem;
            color: #49b7d8;
            @include m.tablet {
                font-size: 3rem;
            }
        }
    }
    
    .caja_boton_servicios {
        display: flex;
        justify-content: flex-start;
        margin: 3rem 0;
    
        .boton_servicios {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;

            @include m.tablet {
                font-size: 1.6rem;
            }
        }
        
    }

    .caja_boton_portafolio {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
    
        .boton_portafolio {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;

            @include m.tablet {
                font-size: 1.6rem;
            }
        }
        
    }
    
    
    .boton_consulta:hover {
        background-color: #3694a5;
    }
    
    .contenedor--porque_scrivena {
        margin: 4rem;
        @include m.grid(1, 2rem);

        @include m.tablet {
            @include m.grid(4, 4rem);
        }
    }

    .porque_scrivena {

        img {
            height: 8rem;
        }
    }

    .contenedor-simulador {
        margin: 5rem 0;
    }
    
    .titulo_simulador {
        color: #123c49;
        text-align: center;
        margin-bottom: 0;
        margin-top: 8rem;
    }
    
    .contenedor--area-cliente {
        margin-top: 1rem;

        .area_cliente {
            margin: 8rem 3rem 0 3rem;
            @include m.desktop {
                h3 {
                    font-size: 4rem;
                }
            }
        
            p {
                font-size: 1.6rem;
            }
        }
        
        .caja_micuenta {
            margin: 0 2rem;

            .texto_micuenta {
                margin: 0 5rem;
            }

            @include m.desktop {
                display: flex;
                width: 80%;
                margin: 0 auto;

                .texto_micuenta {
                    margin: auto;
                    width: 60%;

                    .caja_boton_servicios {
                        justify-content: center;
                    }

                    p {
                        font-size: 1.4rem;

                        @include m.tablet {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        .caja_micuenta img {
            margin-top: 2rem;
            height: 20rem;

            @include m.tablet {
                height: 24rem;
            }
        }
        
        .registro {
            padding: 3rem;
            margin: 8rem 1rem;
            @include m.shadow;
            border-radius: 1rem;
            background: linear-gradient(to right, #102c35, #184b5c);
    
            @include m.desktop {
                padding: 3rem 10rem;
                margin: 8rem 6rem 5rem 6rem;
            }
        
            h3 {
                font-size: 2.5rem;
                color: #b3edff;
                @include m.tablet {
                    font-size: 3rem;
                }
            }
        }
        
        .caja_boton_registro {
            display: flex;
            justify-content: center;
    
            .boton_registro { 
                @include m.boton2(v.$naranja);
            }
        }
    }

    
    
    
}