@use 'base/variables' as v;
@use 'base/mixins' as m;

.servicios {
    margin-top: 8rem;
    
    .caja_servicios {
        padding: 4rem 4rem 7rem 4rem;
        box-shadow: 0 10px 15px -5px rgba(71, 71, 71, 0.5);
        z-index: 1;
    
        h1 {
            color: #123c49;
            font-size: 6rem;
            text-align: center;
        }
    
        p {
            text-align: center;
            margin: 3.5rem 0;
            color: #123c49;
        }
    
        .caja_boton_consulta {
            margin: 0 auto;
            width: 80%;
        }
    }
    
    .caja_boton_consulta {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        
        .boton_consulta {
            @include m.boton2(v.$naranja);
            font-size: 1.4rem;
    
            @include m.tablet {
                font-size: 1.6rem;
            }    
        }
    }

    
    .midseccion {
        background-color: #F1F3F9;
        padding: 2rem;
    
        h2 {
            width: 90%;
            margin: 0 auto 6rem auto;
            font-size: 3rem;
            color: #123c49;
            text-align: center;
            padding-top: 4rem;
        }
    }
    
    .servicios {
        padding: 0.2rem 4rem;
        margin: 5rem 1rem;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 1rem;
    
        .titulo_texto {
            text-align: left;
            margin: 3rem 0;
            color: #123c49;
        }
    }
    
    .ultimacaja {
        text-align: center;
        display: flex;
        justify-content: center;
    
        h2 {
            font-size: 3rem;
            margin: 3rem 0;
            padding: 0;
            width: 90%;
        }
    }
}