@use 'base/mixins' as m;
@use 'base/variables' as v;

.bloques {
   @include m.contenedor;
   @include m.tablet {
        margin-top: 10rem;
   }

   &__grid {
       @include m.grid(1, 3rem);
       @include m.desktop {
           @include m.grid(2, 3rem);
       }
   }
}

.bloque {
    padding: 3rem;
    color: v.$blanco;
    border-radius: 1rem;
    @include m.shadow;

    &:nth-child(1) {
       @include m.bg-gradient(#dadada);
    }
    &:nth-child(2) {
        @include m.bg-gradient(#dadada);
    }
    &:nth-child(3) {
        @include m.bg-gradient(#dadada);
    }
     &:nth-child(4) {
        @include m.bg-gradient(#dadada);
    }

    &__titulo {
        text-align: center;
        color: black;
    }

    &__heading {
        margin: 1rem 0 0 0;
        font-size: 2.6rem;
        color: black;
        text-shadow: 2px 2px 2px rgb(192, 192, 192);
        @include m.tablet {
            font-size: 3.6rem;
        }
    }
    &__heading2 {
        text-shadow: 2px 2px 2px rgb(192, 192, 192);
        margin: 0;
        font-size: 1.4rem;
        color: black;

        @include m.tablet {
            font-size: 1.6rem;
        }

        @include m.desktopXL {
            font-size: 2rem;
        }
    }
    &__texto {
        margin: 1rem 0;
        text-align: center;
        color: #123C49;
        font-size: 2rem;
        @include m.tablet {
            font-size: 3rem;
        }
    }
    &__texto2 {
        color: #123C49;
        padding-left: .5rem;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        
        @include m.tablet {
            font-size: 1.6rem;
        }

        @include m.desktopXL {
            font-size: 2rem;
        }
    }
    &__registros {
        font-size: 1.6rem;
        color: #123C49;

        @include m.tablet {
            font-size: 1.7rem;
        }
    }
    
    &__flex {
        display: flex;
        justify-content: space-around;
    }

    &__flex--contenedor {
        display: flex;
        align-items: center;
    }

    &__abajo {
        margin-top: 4rem;

        &--contratos {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .bloque__contenido, .bloque__texto2 {
            margin: 0;
            padding: 0;
            margin-top: 1rem;
        }
        
    }

}