@use 'base/mixins' as m;
@use 'base/variables' as v;

.table {
    margin: 5rem 0 2rem 0;
    width: 100%;
    border-collapse: collapse;
    @include m.tablet {
        margin: 5rem 0 3rem 0;
    }

    @include m.shadow;

    &__thead {
        background-color: v.$gris-oscuro;
        color: v.$blanco;
    }

    &__th {
        padding: 1rem 1rem;
        text-align: left;
        font-size: 1.2rem;
        @include m.tablet {
            font-size: 1.3rem;
            padding: 1rem;
        }

        @include m.desktopXXL {
            font-size: 2rem;
        }

        &--email, &--telefono, &--documento, &--tipo, &--inicio, &--finalizacion, &--contrato, &--interes {
            display: none;

            @include m.desktopXL {
                display: table-cell;
            }
        }

        &--telefono, &--documento, &--inicio, &--finalizacion, , &--interes, &--contrato{
            @include m.tablet {
                display: table-cell;
            }
        }
    }
    
    &__tr--clientes {
        &:nth-of-type(even) {
            background-color: darken(v.$gris-claro, 4%);
        }
    }

    &__td {
        padding: 1.5rem 1rem;
        font-size: 1.2rem;

        @include m.tablet {
            font-size: 1.3rem;
            padding: 1rem;
        }

        @include m.desktopXXL {
            font-size: 1.6rem;
        }

        &--email, &--telefono, &--documento, &--tipo, &--inicio, &--finalizacion, &--contrato, &--interes {
            display: none;

            @include m.desktopXL {
                display: table-cell;
            }
        }

        &--telefono, &--documento, &--inicio, &--finalizacion, &--interes, &--contrato{
            @include m.tablet {
                display: table-cell;
            }
        }

        &--acciones {
            @extend .table__td;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            align-items: center;
            height: 7rem;
            
            @include m.tablet {
                gap: 2rem;
                height: 6rem;
            }
        }
    }

    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: v.$bold;
        display: flex;
        align-items: center;

        @include m.tablet {
            font-size: 1.4rem;
        }

        &--icono {
            padding-right: .5rem;
        }
        &--editar {
            color: v.$principal;
        }
        &--eliminar {
           color: v.$rojo;
        }
        &:hover {
            cursor: pointer;
        }
    }
    
    .fecha-pasada {
        background-color: rgba(201, 162, 162, 0.466);
        color: rgb(173, 173, 173);
        cursor: not-allowed;
    }
}