@use 'base/mixins' as m;
@use 'base/variables' as v;

footer {
    background-color: #121212;
    font-weight: 100;
}

.logo_footer {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.logo_footer img {
    width: 23rem;
}

.caja_footer-contenedor {
    display: flex;
    justify-content: center;
}

.caja_footer {
    padding: 3rem;
    display: flex;
    color: white;
}

.cajahijo {
    width: 50%;
    margin: 0 2rem;
}

.cajahijo a {
    color: white;
    text-decoration: none;
}

.caja_terminos {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    
    
    a {
        border-bottom: 1px solid black;
        transition: all .3s ease;
        &:hover {
            border-bottom: 1px solid rgb(134, 134, 134);
        }
    }
}

.direccion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .direccion-subtitulo {
        font-size: 1.4rem;
    }
}

.caja_info p{
    color: white;
    margin: 0;
}

.divisor {
    width: 80%;
    margin: 0 auto;
}

.caja_redes {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.iconos__footer {
    color: white;
    font-size: 3rem;
}

.email p{
    padding-bottom: 1.5rem;
    text-align: center;
    color: white;
}

.derechosreservados p {
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.terminos, .privacidad {
    margin-top: 6rem;

    .titulo {
        background-color: #667282;
        color: white;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.tablet {
            height: 30rem;
        }
    }

    h1 {
        
        @include m.texto-fluido(2rem, 7rem);
        padding: 0 1rem;
    }

    .contenedor-caja {
        margin: 5rem 2rem;
        padding: 0 1rem;
        @include m.tablet {
            padding: 0;
            @include m.contenedor;
            margin-top: 10rem;
            margin-bottom: 10rem;
        }

        .subtitulo {
            color: black;
            font-weight: bold;
            margin-bottom: 3rem;
            font-size: 1.7rem;
        }

        p {
            line-height: 2.5rem;
            color: #667282;
            font-size: 1.5rem;
        }
    }
}

